---
import Layout from "../layouts/Layout.astro";
import RobotoDelta from "../fonts/RobotoDelta.astro";
import ParametricAxis, { type Axis } from "../components/ParametricAxis.astro";

const axis: Axis = {
  abbreviation: "XOPQ",
  minimum: 2,
  maximum: 310,
  default: 96,
};
---

<Layout>
  <RobotoDelta />
  <div style={{ fontFamily: "RobotoDelta", margin: "100px auto" }}>
    <ParametricAxis {...axis} />
  </div>
</Layout>
